
 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>To Do List</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="mainTitle" style="background-color: blueviolet; padding-top: 10px; padding-bottom: 10px; position: absolute; top:0; left:0; right:0;">
      <h1 > What You Would Like To Do Today?</h1>
    </div>
    